@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    background-color: #0a0e27;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
